o!RA Locale Generator/bin/Debug/o!RA Locale Generator.exe
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.exe.config
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.pdb
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.vshost.exe
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.vshost.exe.config
o!RA Locale Generator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.csproj.FileListAbsolute.txt
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.csprojResolveAssemblyReference.cache
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.exe
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.pdb
o!RA Locale Generator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
o!RA Locale Generator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
o!RA Locale Generator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
o!RA/bin/Debug/o!RA.exe
o!RA/bin/Debug/o!RA.exe.config
o!RA/bin/Debug/o!RA.pdb
o!RA/bin/Debug/o!RA.vshost.exe
o!RA/bin/Debug/o!RA.vshost.exe.config
o!RA/bin/Debug/o!RA.vshost.exe.manifest
o!RA/obj/Debug/DesignTimeResolveAssemblyReferences.cache
o!RA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
o!RA/obj/Debug/o!RA.csproj.FileListAbsolute.txt
o!RA/obj/Debug/o!RA.csproj.GenerateResource.Cache
o!RA/obj/Debug/o!RA.csprojResolveAssemblyReference.cache
o!RA/obj/Debug/o!RA.exe
o!RA/obj/Debug/o!RA.pdb
o!RA/obj/Debug/o_RA.BarGraph.resources
o!RA/obj/Debug/o_RA.Form1.resources
o!RA/obj/Debug/o_RA.LanguageBox.resources
o!RA/obj/Debug/o_RA.LocaleSelectForm.resources
o!RA/obj/Debug/o_RA.Properties.Resources.resources
o!RA/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
o!RA/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
o!RA/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
o!RA/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
