o!RA Locale Generator/bin/Debug/o!RA Locale Generator.exe
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.exe.config
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.pdb
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.vshost.exe
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.vshost.exe.config
o!RA Locale Generator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.csproj.FileListAbsolute.txt
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.csprojResolveAssemblyReference.cache
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.exe
o!RA Locale Generator/obj/Debug/o!RA Locale Generator.pdb
o!RA Locale Generator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
o!RA Locale Generator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
o!RA Locale Generator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
o!RA/bin/Debug/o!RA.exe
o!RA/bin/Debug/o!RA.exe.config
o!RA/bin/Debug/o!RA.pdb
o!RA/bin/Debug/o!RA.vshost.exe
o!RA/bin/Debug/o!RA.vshost.exe.config
o!RA/bin/Debug/o!RA.vshost.exe.manifest
o!RA/obj/Debug/DesignTimeResolveAssemblyReferences.cache
o!RA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
o!RA/obj/Debug/o!RA.csproj.FileListAbsolute.txt
o!RA/obj/Debug/o!RA.csproj.GenerateResource.Cache
o!RA/obj/Debug/o!RA.csprojResolveAssemblyReference.cache
o!RA/obj/Debug/o!RA.exe
o!RA/obj/Debug/o!RA.pdb
o!RA/obj/Debug/o_RA.BarGraph.resources
o!RA/obj/Debug/o_RA.Form1.resources
o!RA/obj/Debug/o_RA.LanguageBox.resources
o!RA/obj/Debug/o_RA.LocaleSelectForm.resources
o!RA/obj/Debug/o_RA.Properties.Resources.resources
o!RA/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
o!RA/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
o!RA/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
o!RA/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CursorTracer/obj/Debug/CursorTracer.csproj.FileListAbsolute.txt
CursorTracer/obj/Debug/CursorTracer.csproj.GenerateResource.Cache
CursorTracer/obj/Debug/CursorTracer.csprojResolveAssemblyReference.cache
CursorTracer/obj/Debug/CursorTracer.mainFrm.resources
CursorTracer/obj/Debug/CursorTracer.pdb
CursorTracer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CursorTracer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CursorTracer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CursorTracer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
o!RA/bin/Debug/oRAInterface.dll
o!RA/bin/Debug/oRAInterface.pdb
o!RA/bin/Debug/osu!BMAPI.dll
o!RA/bin/Debug/osu!BMAPI.pdb
o!RA/bin/Debug/osu!ReplayAPI.dll
o!RA/bin/Debug/osu!ReplayAPI.pdb
o!RA/bin/Debug/Plugins/CursorTracer.dll
oRAInterface/bin/Debug/oRAInterface.dll
oRAInterface/bin/Debug/oRAInterface.pdb
oRAInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
oRAInterface/obj/Debug/oRAInterface.csproj.FileListAbsolute.txt
oRAInterface/obj/Debug/oRAInterface.csprojResolveAssemblyReference.cache
oRAInterface/obj/Debug/oRAInterface.dll
oRAInterface/obj/Debug/oRAInterface.pdb
oRAInterface/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
oRAInterface/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
oRAInterface/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
osuReplayAPI/osuReplayAPI/bin/Debug/ConsoleApplication1.exe
osuReplayAPI/osuReplayAPI/bin/Debug/ConsoleApplication1.exe.config
osuReplayAPI/osuReplayAPI/bin/Debug/ConsoleApplication1.pdb
osuReplayAPI/osuReplayAPI/bin/Debug/ConsoleApplication1.vshost.exe
osuReplayAPI/osuReplayAPI/bin/Debug/ConsoleApplication1.vshost.exe.config
osuReplayAPI/osuReplayAPI/bin/Debug/osu!ReplayAPI.dll
osuReplayAPI/osuReplayAPI/bin/Debug/osu!ReplayAPI.dll.config
osuReplayAPI/osuReplayAPI/bin/Debug/osu!ReplayAPI.pdb
osuReplayAPI/osuReplayAPI/bin/Debug/osu!ReplayAPI.vshost.exe
osuReplayAPI/osuReplayAPI/bin/Debug/osu!ReplayAPI.vshost.exe.config
osuReplayAPI/osuReplayAPI/bin/Debug/osu!ReplayAPI.vshost.exe.manifest
osuReplayAPI/osuReplayAPI/bin/Debug/osuReplayAPI.dll
osuReplayAPI/osuReplayAPI/bin/Debug/osuReplayAPI.dll.config
osuReplayAPI/osuReplayAPI/bin/Debug/osuReplayAPI.pdb
osuReplayAPI/osuReplayAPI/bin/Debug/osuReplayAPI.vshost.exe
osuReplayAPI/osuReplayAPI/bin/Debug/osuReplayAPI.vshost.exe.config
osuReplayAPI/osuReplayAPI/bin/Debug/osuReplayAPI.vshost.exe.manifest
osuReplayAPI/osuReplayAPI/obj/Debug/ConsoleApplication1.csproj.FileListAbsolute.txt
osuReplayAPI/osuReplayAPI/obj/Debug/ConsoleApplication1.csprojResolveAssemblyReference.cache
osuReplayAPI/osuReplayAPI/obj/Debug/ConsoleApplication1.exe
osuReplayAPI/osuReplayAPI/obj/Debug/ConsoleApplication1.pdb
osuReplayAPI/osuReplayAPI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
osuReplayAPI/osuReplayAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
osuReplayAPI/osuReplayAPI/obj/Debug/osu!ReplayAPI.csproj.FileListAbsolute.txt
osuReplayAPI/osuReplayAPI/obj/Debug/osu!ReplayAPI.csprojResolveAssemblyReference.cache
osuReplayAPI/osuReplayAPI/obj/Debug/osu!ReplayAPI.dll
osuReplayAPI/osuReplayAPI/obj/Debug/osu!ReplayAPI.pdb
osuReplayAPI/osuReplayAPI/obj/Debug/osuReplayAPI.csproj.FileListAbsolute.txt
osuReplayAPI/osuReplayAPI/obj/Debug/osuReplayAPI.csprojResolveAssemblyReference.cache
osuReplayAPI/osuReplayAPI/obj/Debug/osuReplayAPI.dll
osuReplayAPI/osuReplayAPI/obj/Debug/osuReplayAPI.pdb
osuReplayAPI/osuReplayAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
osuReplayAPI/osuReplayAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
osuReplayAPI/osuReplayAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CursorTracer/obj/Debug/PluginTemplate.csproj.FileListAbsolute.txt
CursorTracer/obj/Debug/PluginTemplate.pdb
o!RA/bin/Debug/settings.dat
PluginTemplate/obj/Debug/CursorTracer.csproj.FileListAbsolute.txt
PluginTemplate/obj/Debug/CursorTracer.csproj.GenerateResource.Cache
PluginTemplate/obj/Debug/CursorTracer.csprojResolveAssemblyReference.cache
PluginTemplate/obj/Debug/CursorTracer.dll
PluginTemplate/obj/Debug/CursorTracer.pdb
PluginTemplate/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PluginTemplate/obj/Debug/PluginTemplate.csproj.FileListAbsolute.txt
PluginTemplate/obj/Debug/PluginTemplate.csprojResolveAssemblyReference.cache
PluginTemplate/obj/Debug/PluginTemplate.pdb
PluginTemplate/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PluginTemplate/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PluginTemplate/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
o!RA/obj/Debug/o_RA.oRAMainForm.resources
o!RA Locale Generator/bin/Debug/o!RA Locale Generator.vshost.exe.manifest
o!RA Locale Generator/GlobalVars.cs
o!RA/obj/Debug/o_RA.PluginSettingsForm.resources
osu!BMAPIC#/osu!BMAPI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
osu!BMAPIC#/osu!BMAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
osu!BMAPIC#/osu!BMAPI/obj/Debug/osu!BMAPI.csproj.FileListAbsolute.txt
osu!BMAPIC#/osu!BMAPI/obj/Debug/osu!BMAPI.csprojResolveAssemblyReference.cache
osu!BMAPIC#/osu!BMAPI/obj/Debug/osu!BMAPI.dll
osu!BMAPIC#/osu!BMAPI/obj/Debug/osu!BMAPI.pdb
osu!BMAPIC#/osu!BMAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
osu!BMAPIC#/osu!BMAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
osu!BMAPIC#/osu!BMAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
osu!BMAPIC#/osu!BMAPI/bin/Debug/osu!BMAPI.dll
osu!BMAPIC#/osu!BMAPI/bin/Debug/osu!BMAPI.pdb
osu!BMAPIC#/osu!BMAPI/bin/Debug/osu!BMAPI.vshost.exe
osu!BMAPIC#/osu!BMAPI/bin/Debug/osu!BMAPI.vshost.exe.manifest
o!RA/obj/Debug/o!RA (1).pdb
MapInfoPlugin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MapInfoPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MapInfoPlugin/obj/Debug/MapInfoPlugin.csproj.FileListAbsolute.txt
MapInfoPlugin/obj/Debug/MapInfoPlugin.csproj.GenerateResource.Cache
MapInfoPlugin/obj/Debug/MapInfoPlugin.csprojResolveAssemblyReference.cache
MapInfoPlugin/obj/Debug/MapInfoPlugin.dll
MapInfoPlugin/obj/Debug/MapInfoPlugin.MainForm.resources
MapInfoPlugin/obj/Debug/MapInfoPlugin.pdb
MapInfoPlugin/obj/Debug/oRASDK.csproj.FileListAbsolute.txt
MapInfoPlugin/obj/Debug/oRASDK.csprojResolveAssemblyReference.cache
MapInfoPlugin/obj/Debug/oRASDK.dll
MapInfoPlugin/obj/Debug/oRASDK.pdb
MapInfoPlugin/obj/Debug/PluginTemplate.csproj.FileListAbsolute.txt
MapInfoPlugin/obj/Debug/PluginTemplate.csprojResolveAssemblyReference.cache
MapInfoPlugin/obj/Debug/PluginTemplate.dll
MapInfoPlugin/obj/Debug/PluginTemplate.pdb
MapInfoPlugin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MapInfoPlugin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MapInfoPlugin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MapInfoPlugin/bin/debug/MapInfoPlugin.dll
MapInfoPlugin/bin/debug/MapInfoPlugin.pdb
MapInfoPlugin/bin/debug/oRAInterface.dll
MapInfoPlugin/bin/debug/oRAInterface.pdb
MapInfoPlugin/bin/debug/osu!BMAPI.dll
MapInfoPlugin/bin/debug/osu!BMAPI.pdb
MapInfoPlugin/bin/debug/osu!ReplayAPI.dll
MapInfoPlugin/bin/debug/osu!ReplayAPI.pdb
oRASDK/bin/debug/oRAInterface.dll
oRASDK/bin/debug/oRAInterface.pdb
oRASDK/bin/debug/oRASDK.dll
oRASDK/bin/debug/oRASDK.pdb
oRASDK/bin/debug/osu!BMAPI.dll
oRASDK/bin/debug/osu!BMAPI.pdb
oRASDK/bin/debug/osu!ReplayAPI.dll
oRASDK/bin/debug/osu!ReplayAPI.pdb
ReplayInfoPlugin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ReplayInfoPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReplayInfoPlugin/obj/Debug/MapInfoPlugin.csproj.FileListAbsolute.txt
ReplayInfoPlugin/obj/Debug/MapInfoPlugin.csproj.GenerateResource.Cache
ReplayInfoPlugin/obj/Debug/MapInfoPlugin.csprojResolveAssemblyReference.cache
ReplayInfoPlugin/obj/Debug/MapInfoPlugin.dll
ReplayInfoPlugin/obj/Debug/MapInfoPlugin.MainForm.resources
ReplayInfoPlugin/obj/Debug/MapInfoPlugin.pdb
ReplayInfoPlugin/obj/Debug/ReplayInfoPlugin.csproj.FileListAbsolute.txt
ReplayInfoPlugin/obj/Debug/ReplayInfoPlugin.csproj.GenerateResource.Cache
ReplayInfoPlugin/obj/Debug/ReplayInfoPlugin.csprojResolveAssemblyReference.cache
ReplayInfoPlugin/obj/Debug/ReplayInfoPlugin.dll
ReplayInfoPlugin/obj/Debug/ReplayInfoPlugin.pdb
ReplayInfoPlugin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ReplayInfoPlugin/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ReplayInfoPlugin/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ReplayInfoPlugin/bin/debug/oRAInterface.dll
ReplayInfoPlugin/bin/debug/oRAInterface.pdb
ReplayInfoPlugin/bin/debug/osu!BMAPI.dll
ReplayInfoPlugin/bin/debug/osu!BMAPI.pdb
ReplayInfoPlugin/bin/debug/osu!ReplayAPI.dll
ReplayInfoPlugin/bin/debug/osu!ReplayAPI.pdb
ReplayInfoPlugin/bin/debug/ReplayInfoPlugin.dll
ReplayInfoPlugin/bin/debug/ReplayInfoPlugin.pdb
o!RA/obj/Debug/o_RA.oRAControls.LanguageBox.resources
o!RA/obj/Debug/o_RA.oRAControls.oRATabControl.resources
o!RA/obj/Debug/o_RA.oRAForms.LocaleSelectForm.resources
o!RA/obj/Debug/o_RA.oRAForms.oRAMainForm.resources
o!RA/obj/Debug/o_RA.oRAForms.PluginSettingsForm.resources
oRASDK/obj/Debug/oRASDK.csprojResolveAssemblyReference.cache
oRASDK/obj/Debug/oRASDK.dll
oRASDK/obj/Debug/oRASDK.pdb
oRASDK/obj/Debug/oRASDK.csprojResolveAssemblyReference.cache
oRASDK/obj/Debug/oRASDK.dll
oRASDK/obj/Debug/oRASDK.pdb
MapInfoPlugin/obj/Debug/MapInfoPlugin.Properties.Resources.resources
MapInfoPlugin/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
o!RA.v12.suo
